body {
  font-family: sans-serif;
  background-color: #040404;
  color: #fff;
  position: relative;
  background: transparent;
  overflow: overlay;
}

body::before {
  content: "";
  position: fixed;
  background: #040404 top right no-repeat;
  background-size: cover;
  left: 0;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: -1;
}

a {
  color: #95baff;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

a:hover {
  color: #1567ff;
  text-decoration: none;
}

#landing {
  width: 100%;
  height: 100vh;
  background-size: cover;
  position: relative;
  background: url("Capture.PNG");
}

#landing::before {
  content: "";
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#landing .landing-container {
  position: absolute;
  text-shadow: 2px 2px #040404;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 15px;
}

#landing h1 {
  margin: 0 0 10px 0;
  font-size: 64px;
  color: #fff;
}

#landing h2 {
  color: #eee;
  margin-bottom: 50px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#landing .btn-scroll {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #95baff;
}

#landing .btn-scroll i {
  font-size: 48px;
}

#landing .btn-scroll:hover {
  color: #1567ff;
}

.skills .progress {
  height: 60px;
  display: block;
  background: none;
  border-radius: 0;
}

.skills .progress .skill {
  padding: 10px 0;
  margin: 0;
  text-transform: uppercase;
  display: block;
  font-weight: 500;
  font-family: sans-serif;
  color: #fff;
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: gray;
  border-radius: 7px;
}

.skills .progress-bar {
  height: 10px;
  background: -webkit-gradient(linear, left top, right top, from(#1567ff), to(#95baff));
  background: linear-gradient(to right, #1567ff, #95baff);
  border-radius: 7px;
}

.resume .resume-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #fff;
}

.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2;
  border-left: 2px solid #1567ff;
  position: relative;
}

.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: sans-serif;
  color: #95baff;
  margin-bottom: 10px;
}

.resume .resume-item h5 {
  font-size: 16px;
  background: rgba(255, 255, 255, 0.2);
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
  border-radius: 7px;
}

.resume .resume-item ul {
  padding-left: 10px;
}

.resume .resume-item ul li {
  padding-bottom: 0;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background: rgba(149, 186, 255, 0.5);
  border-radius: 7px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(21, 103, 255, 0.5);
  border-radius: 7px;
}

.container .half {
  width: 49%;
  border-radius: 7px;
  outline: none;
}

.container #norm {
  width: 99%;
  border-radius: 7px;
  outline: none;
}

.container #large {
  width: 99%;
  border-radius: 7px;
  outline: none;
}

.container #submitMessage {
  margin-top: 7rem;
  text-align: center;
  background-color: #95baff;
  border-radius: 7px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container #submitMessage:hover {
  background-color: #1567ff;
  border-radius: 7px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#rotate {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.fab:hover {
  color: #1567ff;
  -webkit-transition: 1s;
  transition: 1s;
}
/*# sourceMappingURL=style.css.map */