/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

//CSS Reset

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

//General Styles

$primary-color: rgb(149, 186, 255);
$secondary-color: rgb(21, 103, 255);

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #040404;
    color: #fff;
    position: relative;
    background: transparent;
    overflow: overlay;

    &::before {
        content: "";
        position: fixed;
        background: #040404 top right no-repeat; //for placing images
        background-size: cover;
        left: 0;
        right: 0;
        top: 0;
        height: 100vh;
        z-index: -1;
    }

    h1 {
        font-size: 2rem;
        margin-bottom: 15px;
    }

    h2 {
        font-size: 1.75rem;
        margin-bottom: 15px;
    }

    a {
        color: $primary-color;
        text-decoration: none;
        transition: 0.5s;

        &:hover {
            color: $secondary-color;
            text-decoration: none;
        }
    }
}

// The Landing Page

#landing {
    width: 100%;
    height: 100vh;
    background-size: cover;
    position: relative;
    text-align: center;

    #coverImage {
        width: 100%;
        height: 100vh;
        background-size: cover;
        background: url("images/codeBackground.PNG");
    }

    #coverImage::before {
        content: "";
        background: rgba(0, 0, 0, 0.6);
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }

    h1,
    p {
        position: relative;
        top: -55vh;
    }
}

//About

#about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2vh 0;

    // img {
    //     width: 50%;
    //     margin: 0 auto;
    //     border-radius: 50%;
    // }

    #carousel {
        color: white;

        .spaced {
            display: flex;
            justify-content: space-evenly;
            margin: auto;
            width: 40%;
        }

        p {
            margin: auto;
            text-align: center;
        }

        hr {
            margin: auto;
            margin-bottom: 3.5vw;
            width: 50%;
        }

        div {
            text-align: center;
        }

        #carouselExampleCaptions {
            width: 60%;
            margin: auto;
        }

        #resize {
            width: 2vw;
        }

        img {
            border-radius: 50%;
        }
    }

    #aboutText {
        display: grid;
        grid-template-rows: 1fr 2fr;
        margin: auto 0;
        width: 80%;

        p {
            line-height: 20px;
        }
    }
}

.skills {
    .progress {
        height: 60px;
        display: block;
        background: none;
        border-radius: 0;

        .skill {
            padding: 10px 0;
            margin: 0;
            text-transform: uppercase;
            display: block;
            font-weight: 500;
            font-family: sans-serif;
            color: #fff;

            .val {
                float: right;
                font-style: normal;
            }
        }
    }

    .progress-bar-wrap {
        background: gray;
        border-radius: 7px;
    }

    .progress-bar {
        height: 10px;
        background: linear-gradient(to right, $secondary-color, $primary-color);
        border-radius: 7px;
    }
}

//resume

.resume {
    .resume-title {
        font-size: 26px;
        font-weight: 700;
        margin-top: 20px;
        margin-bottom: 20px;
        color: #fff;
    }

    .resume-item {
        padding: 0 0 20px 20px;
        margin-top: -2;
        border-left: 2px solid $secondary-color;
        position: relative;

        h4 {
            line-height: 18px;
            font-size: 18px;
            font-weight: 600;
            text-transform: uppercase;
            font-family: sans-serif;
            color: $primary-color;
            margin-bottom: 10px;
        }

        h5 {
            font-size: 16px;
            background: rgba(255, 255, 255, 0.2);
            padding: 5px 15px;
            display: inline-block;
            font-weight: 600;
            margin-bottom: 10px;
            border-radius: 7px;
        }

        ul {
            padding-left: 10px;

            li {
                padding-bottom: 0;
            }
        }

        &:last-child {
            padding-bottom: 0;
        }
    }
}

//Scrollbar

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb {
    background: rgba(149, 186, 255, 0.5);

    &:hover {
        background: rgba(21, 103, 255, 0.5);
        border-radius: 7px;
    }
}

.container {
    .half {
        width: 49%;
        border-radius: 7px;
        outline: none;
    }
    #norm {
        width: 99%;
        border-radius: 7px;
        outline: none;
    }
    #large {
        width: 99%;
        border-radius: 7px;
        outline: none;
    }
    #submitMessage {
        margin-top: 7rem;
        text-align: center;
        background-color: $primary-color;
        border-radius: 7px;
        transition: 0.5s;
        &:hover {
            background-color: $secondary-color;
            border-radius: 7px;
            transition: 0.5s;
        }
    }
}

#rotate {
    transform: rotate(-90deg);
}

.fab {
    &:hover {
        color: $secondary-color;
        transition: 1s;
    }
}

.btn {
    background-color: $primary-color;
    text-decoration: none;
    transition: 0.5s;

    &:hover {
        background-color: $secondary-color;
        text-decoration: none;
    }
}

#blue {
    color: $primary-color;
    text-decoration: none;
    transition: 0.5s;

    &:hover {
        color: $secondary-color;
        text-decoration: none;
    }
}
