body {
    font-family: sans-serif;
    background-color: #040404;
    color: #fff;
    position: relative;
    background: transparent;
    overflow: overlay;

    &::before {
        content: "";
        position: fixed;
        background: #040404 top right no-repeat; //for placing images
        background-size: cover;
        left: 0;
        right: 0;
        top: 0;
        height: 100vh;
        z-index: -1;
    }
}

$primary-color: rgb(149, 186, 255);
$secondary-color: rgb(21, 103, 255);

a {
    color: $primary-color;
    text-decoration: none;
    transition: 0.5s;

    &:hover {
        color: $secondary-color;
        text-decoration: none;
    }
}

// The Landing Page

#landing {
    width: 100%;
    height: 100vh;
    background-size: cover;
    position: relative;
    background: url("Capture.PNG") ;

    &::before {
        content: "";
        background: rgba(0, 0, 0, 0.3);
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }

    .landing-container {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 15px;
    }

    h1 {
        margin: 0 0 10px 0;
        font-size: 64px;
        font-family: fantasy;
        color: #fff;
    }

    h2 {
        color: #eee;
        margin-bottom: 50px;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    .btn-scroll {
        transition: 0.5s;
        color: $primary-color;

        i {
            font-size: 48px;
        }

        &:hover {
            color: $secondary-color;
        }
    }
}

//Skills

.skills {
    .progress {
        height: 60px;
        display: block;
        background: none;
        border-radius: 0;

        .skill {
            padding: 10px 0;
            margin: 0;
            text-transform: uppercase;
            display: block;
            font-weight: 500;
            font-family: sans-serif;
            color: #fff;

            .val {
                float: right;
                font-style: normal;
            }
        }
    }

    .progress-bar-wrap {
        background: gray;
    }

    .progress-bar {
        height: 10px;
        background: linear-gradient(to right, $secondary-color, $primary-color);
    }
}

//resume

.resume {
    .resume-title {
        font-size: 26px;
        font-weight: 700;
        margin-top: 20px;
        margin-bottom: 20px;
        color: #fff;
    }

    .resume-item {
        padding: 0 0 20px 20px;
        margin-top: -2;
        border-left: 2px solid $secondary-color;
        position: relative;

        h4 {
            line-height: 18px;
            font-size: 18px;
            font-weight: 600;
            text-transform: uppercase;
            font-family: sans-serif;
            color: $primary-color;
            margin-bottom: 10px;
        }

        h5 {
            font-size: 16px;
            background: rgba(255, 255, 255, 0.2);
            padding: 5px 15px;
            display: inline-block;
            font-weight: 600;
            margin-bottom: 10px;
        }

        ul {
            padding-left: 10px;

            li {
                padding-bottom: 0;
            }
        }

        &:last-child {
            padding-bottom: 0;
        }
    }
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
    background: rgba(149, 186, 255, 0.5);
    border-radius: 25px;

    &:hover {
        background: rgba(21, 103, 255, 0.5);
        border-radius: 25px;
    }
}

.container{
    .half{
        width: 49%;
        border-radius: 25px;
        outline: none;
    }
    #norm{
        width: 99%;
        border-radius: 25px;
        outline: none;
    }
    #large{
        width: 99%;
        border-radius: 25px;
        outline: none;
    }
    #submitMessage{
        margin-top: 7rem;
        text-align: center;
        background-color: $primary-color;
        border-radius: 25px;
        transition: 0.5s;
        &:hover{
            background-color: $secondary-color;
            border-radius: 25px;
            transition: 0.5s;
        }
    }
}

#rotate{
    transform: rotate(-90deg);
}

#change{

    &:hover{
        color: $secondary-color;
        transition: 1s;
    }
}