/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #040404;
  color: #fff;
  position: relative;
  background: transparent;
  overflow: overlay;
}
body::before {
  content: "";
  position: fixed;
  background: #040404 top right no-repeat;
  background-size: cover;
  left: 0;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: -1;
}
body h1 {
  font-size: 2rem;
  margin-bottom: 15px;
}
body h2 {
  font-size: 1.75rem;
  margin-bottom: 15px;
}
body a {
  color: rgb(149, 186, 255);
  text-decoration: none;
  transition: 0.5s;
}
body a:hover {
  color: rgb(21, 103, 255);
  text-decoration: none;
}

#landing {
  width: 100%;
  height: 100vh;
  background-size: cover;
  position: relative;
  text-align: center;
}
#landing #coverImage {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background: url("images/codeBackground.PNG");
}
#landing #coverImage::before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
#landing h1,
#landing p {
  position: relative;
  top: -55vh;
}

#about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2vh 0;
}
#about #carousel {
  color: white;
}
#about #carousel .spaced {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  width: 40%;
}
#about #carousel p {
  margin: auto;
  text-align: center;
}
#about #carousel hr {
  margin: auto;
  margin-bottom: 3.5vw;
  width: 50%;
}
#about #carousel div {
  text-align: center;
}
#about #carousel #carouselExampleCaptions {
  width: 60%;
  margin: auto;
}
#about #carousel #resize {
  width: 2vw;
}
#about #carousel img {
  border-radius: 50%;
}
#about #aboutText {
  display: grid;
  grid-template-rows: 1fr 2fr;
  margin: auto 0;
  width: 80%;
}
#about #aboutText p {
  line-height: 20px;
}

.skills .progress {
  height: 60px;
  display: block;
  background: none;
  border-radius: 0;
}
.skills .progress .skill {
  padding: 10px 0;
  margin: 0;
  text-transform: uppercase;
  display: block;
  font-weight: 500;
  font-family: sans-serif;
  color: #fff;
}
.skills .progress .skill .val {
  float: right;
  font-style: normal;
}
.skills .progress-bar-wrap {
  background: gray;
  border-radius: 7px;
}
.skills .progress-bar {
  height: 10px;
  background: linear-gradient(to right, rgb(21, 103, 255), rgb(149, 186, 255));
  border-radius: 7px;
}

.resume .resume-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #fff;
}
.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2;
  border-left: 2px solid rgb(21, 103, 255);
  position: relative;
}
.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: sans-serif;
  color: rgb(149, 186, 255);
  margin-bottom: 10px;
}
.resume .resume-item h5 {
  font-size: 16px;
  background: rgba(255, 255, 255, 0.2);
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
  border-radius: 7px;
}
.resume .resume-item ul {
  padding-left: 10px;
}
.resume .resume-item ul li {
  padding-bottom: 0;
}
.resume .resume-item:last-child {
  padding-bottom: 0;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background: rgba(149, 186, 255, 0.5);
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(21, 103, 255, 0.5);
  border-radius: 7px;
}

.container .half {
  width: 49%;
  border-radius: 7px;
  outline: none;
}
.container #norm {
  width: 99%;
  border-radius: 7px;
  outline: none;
}
.container #large {
  width: 99%;
  border-radius: 7px;
  outline: none;
}
.container #submitMessage {
  margin-top: 7rem;
  text-align: center;
  background-color: rgb(149, 186, 255);
  border-radius: 7px;
  transition: 0.5s;
}
.container #submitMessage:hover {
  background-color: rgb(21, 103, 255);
  border-radius: 7px;
  transition: 0.5s;
}

#rotate {
  transform: rotate(-90deg);
}

.fab:hover {
  color: rgb(21, 103, 255);
  transition: 1s;
}

.btn {
  background-color: rgb(149, 186, 255);
  text-decoration: none;
  transition: 0.5s;
}
.btn:hover {
  background-color: rgb(21, 103, 255);
  text-decoration: none;
}

#blue {
  color: rgb(149, 186, 255);
  text-decoration: none;
  transition: 0.5s;
}
#blue:hover {
  color: rgb(21, 103, 255);
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */